*{
    background-color:lightcyan;
    font-family: 'Caveat', cursive;
 }

img {
    position: absolute;
    width:35%;
    height:95%; 
}

h2 {
    background-color:purple;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 50px; 
    color:white;
}

h1,h2 {
    text-align: center;
}

ol,ul{
     list-style-position: inside;
     margin-left:35%;        
}

ul>li,ol>li{
     font-size: 16px;
}

ul {
    list-style-image: url(marker.png);
}


